<p>home works!</p>

<input class="form-control" type="text" [(ngModel)]="color"> {{ title }}

<input class="form-control" class="btn btn-primary" type="submit" value="save" (click)=msg()>



<div [style.backgroundColor]="color">
    propertyBinding
</div>

<!--card
<div class="row">
    <div *ngFor="let u of listUsers" class="card" style="width: 18rem;">

        <img class="card-img-top" src="" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{u.name}}</h5>
            <p class="card-text">{{u.age}}</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

    -->
<!-- Table -->
<div class="container mt-4">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Âge</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let u of listUsers">
                <td>{{ u.name }}</td>
                <td>{{ u.age }}</td>
                <td>
                    <a href="#" class="btn btn-primary">Register</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>